@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
